{% load static %}

<html lang="en">
<head>
    <title>Craigslist Facelift</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <h1>Welcome to GoBe</h1>

    <div class="container">
        <div class="container col s6  center">
            {% block content %}

            {% endblock content %}
        </div>
    </div>

</body>
</html>